body {
  text-align: center;
  background-color: rgb(32, 31, 31);
}

h1 {
  color: skyblue;
}

p {
  color: white;
}

.link {
  text-decoration: none;
  margin-left: 1rem;
  color: white;
}

.image {
  border-radius: 5px;
  border: solid rgb(49, 46, 46);
  opacity: 85%;
}

span {
  color: tomato;
}
